---
import { basename } from "node:path";
import slugify from "slugify";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
	const posts = await Astro.glob("../../posts/*.{md,mdx}");

	return posts.map((post) => ({
		params: {
			slug: slugify(basename(post.file, ".md")),
		},
		props: { post },
	}));
}

const { frontmatter, Content } = Astro.props.post;
---

<BlogPost {...frontmatter}>
	<h1>{frontmatter.title}</h1>
	<Content />
</BlogPost>
