<aside
  class="sticky top-8 h-fit w-fit whitespace-nowrap"
  transition:name="contact"
>
  <!-- description -->
  <div class="mb-12 flex flex-col">
    <span class="text-b-minato">Auckland-Based</span>
    <span class="text-b-minato">Front-End Developer</span>
    <span>Matthew Tao</span>
  </div>

  <!-- links -->
  <ul class="green-fade mb-9 flex flex-col rounded-md px-4 py-2 text-base">
    <li class="group flex items-center gap-2">
      <img
        class="h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
        src="/icons/mail.svg"
        alt=""
      />
      <a href="mailto:matthew.yingtao@gmail.com" class="group-hover:underline"
        >matthew.yingtao@gmail.com</a
      >
    </li>
    <li class="group flex items-center gap-2">
      <img
        class="h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
        src="/icons/github.svg"
        alt=""
      />
      <a
        href="https://github.com/matthewyingtao/portfolio-tokyo"
        class="group-hover:underline">View Source</a
      >
    </li>
    <li class="group flex items-center gap-2">
      <img
        class="h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
        src="/icons/linkedin.svg"
        alt=""
      />
      <a
        href="https://www.linkedin.com/in/matthew-tao727"
        class="group-hover:underline">LinkedIn</a
      >
    </li>
  </ul>
</aside>
