---
import BaseHead from "../components/layout/BaseHead.astro";
import ExpandedContact from "../components/layout/ExpandedContact.astro";
import Header from "../components/layout/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="mx-gutter overflow-x-hidden">
    <div class="noise"></div>

    <Header />
    <main
      class="mb-20 flex flex-wrap justify-center gap-12 md:flex-nowrap md:justify-start xl:gap-24"
    >
      <aside
        class="green-fade left-sidebar text-b-minato relative hidden rounded-xl px-4 py-6 whitespace-nowrap lg:block"
      >
        <img
          src="/dots.svg"
          alt=""
          class="absolute top-0 -bottom-2 left-0 -z-10 -translate-x-12"
        />
        <p>Second-year</p>
        <p class="mb-[4.5rem]">Computer science</p>

        <h1 class="text-b-willow-dark mb-[4.5rem] text-4xl leading-none">
          <span class="mb-2 block font-medium">陶映渠</span>
          <span class="block">Tao Ying Qu</span>
        </h1>

        <div class="-translate-y-3">
          <span class="mb-4 block">Developer</span>
          {
            Array.from({ length: 8 }).map((_, i) => (
              <span
                class={`__designer-cascade block leading-[0] ${i === 0 && "first"}`}
                style={{
                  "--i-th": i,
                }}
              >
                Designer
              </span>
            ))
          }
        </div>
      </aside>
      <section class="text-b-gray w-[32ch]">
        <p class="mb-16">
          <span class="text-b-willow-dark">Matthew Tao</span> is a front-end developer
          who enjoys exploring new technologies and tries to understand the underlying
          concepts behind them.
        </p>
        <ul class="flex flex-col gap-5">
          <a href="/blog">
            <li
              class="group after:bg-b-willow relative flex items-center justify-between gap-2 pb-3 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-[calc(100%+3rem)] after:-translate-x-6"
            >
              <span>
                Read my
                <span class="text-b-willow-dark">blog</span> posts
              </span>
              <img
                src="/icons/externalArrow.svg"
                alt=""
                class="h-5 w-5 transition-transform ease-in-out group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
              />
            </li>
          </a>
          <a href="/projects">
            <li
              class="group after:bg-b-willow relative flex items-center justify-between gap-2 pb-3 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-[calc(100%+3rem)] after:-translate-x-6"
            >
              <span>
                View my
                <span class="text-b-willow-dark">projects</span>
              </span>
              <img
                src="/icons/externalArrow.svg"
                alt=""
                class="h-5 w-5 transition-transform ease-in-out group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
              />
            </li>
          </a>
          <a href="/about">
            <li
              class="group after:bg-b-willow relative flex items-center justify-between gap-2 pb-3 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-[calc(100%+3rem)] after:-translate-x-6"
            >
              <span>
                Find out more
                <span class="text-b-willow-dark">about me!</span>
              </span>
              <img
                src="/icons/externalArrow.svg"
                alt=""
                class="h-5 w-5 transition-transform ease-in-out group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
              />
            </li>
          </a>
          <a href="/uses">
            <li
              class="group after:bg-b-willow relative flex items-center justify-between gap-2 pb-3 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-[calc(100%+3rem)] after:-translate-x-6"
            >
              <span>
                Check out my
                <span class="text-b-willow-dark">setup</span>
              </span>
              <img
                src="/icons/externalArrow.svg"
                alt=""
                class="h-5 w-5 transition-transform ease-in-out group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
              />
            </li>
          </a>
        </ul>
      </section>
      <ExpandedContact />
    </main>
  </body>
</html>
