---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="mx-gutter">
		<Header title={SITE_TITLE} />
		<main class="">
			<aside>a</aside>
			<section>b</section>udylin
			<aside>c</aside>
		</main>
		<Footer />
	</body>
</html>
