---
import FormattedDate from "../components/FormattedDate.astro";
import BaseHead from "../components/layout/BaseHead.astro";
import ExpandedContact from "../components/layout/ExpandedContact.astro";
import FibbonaciHeading from "../components/layout/FibbonaciHeading.astro";
import Header from "../components/layout/Header.astro";

import { projects } from "../data/projects/projects.json";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Projects"
      description="A curated selection of Matthew Tao's best projects."
    />
  </head>
  <body class="mx-gutter overflow-x-hidden">
    <div class="noise"></div>

    <Header />
    <main
      class="flex gap-12 xl:gap-24 flex-wrap md:flex-nowrap justify-center md:justify-start mb-20"
    >
      <FibbonaciHeading title="Projects" />
      <section class="w-[42ch] mt-2">
        <ul class="flex flex-col gap-12">
          {
            projects.map(({ title, image, date, description }) => (
              <div class="flex flex-col gap-5">
                <div class="flex justify-between leading-[0.95]">
                  <h2>{title}</h2>
                  <FormattedDate dateString={date} class="text-b-minato" />
                </div>

                <img src={image} alt="" class="aspect-video object-cover" />

                <p>{description}</p>
              </div>
            ))
          }
        </ul>
      </section>
      <ExpandedContact />
    </main>
  </body>
</html>
