---
import Github from "../assets/icons/github.svg";
import LinkedIn from "../assets/icons/linkedin.svg";
import Mail from "../assets/icons/mail.svg";
---

<aside
  class="sticky top-8 h-fit w-fit whitespace-nowrap"
  transition:name="contact"
>
  <!-- description -->
  <div class="mb-12 flex flex-col">
    <span class="text-b-minato">Auckland-Based</span>
    <span class="text-b-minato">Front-End Developer</span>
    <span>Matthew Tao</span>
  </div>

  <!-- links -->
  <ul
    class="green-fade mb-9 flex w-max flex-col rounded-md px-4 py-2 text-base"
  >
    <li class="group flex items-center gap-2">
      <Mail
        class="aspect-square h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
      />
      <a href="mailto:matthew.yingtao@gmail.com" class="group-hover:underline"
        >matthew.yingtao@gmail.com</a
      >
    </li>
    <li class="group flex items-center gap-2">
      <Github
        class="aspect-square h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
      />
      <a
        href="https://github.com/matthewyingtao/portfolio-tokyo"
        class="group-hover:underline">View Source</a
      >
    </li>
    <li class="group flex items-center gap-2">
      <LinkedIn
        class="aspect-square h-4 transition-transform ease-in-out group-hover:-translate-y-[2px]"
      />
      <a
        href="https://www.linkedin.com/in/matthew-tao727"
        class="group-hover:underline">LinkedIn</a
      >
    </li>
  </ul>
</aside>
