---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav class="py-12 flex gap-16">
		<HeaderLink class="" activeClass="" href="/">Home</HeaderLink>
		<HeaderLink class="" activeClass="" href="/blog">Blog</HeaderLink>
		<HeaderLink class="" activeClass="" href="/projects">
			Projects
		</HeaderLink>
		<HeaderLink class="" activeClass="" href="/about">About</HeaderLink>
	</nav>
</header>
