---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  activeClass?: string;
};

const { href, class: className, activeClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

const computedClass = isActive ? activeClass : "";
---

<a href={href} class:list={[className, computedClass]} {...props}>
  <slot />
</a>
