---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	activeClass?: string;
};

const { href, class: className, activeClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: activeClass }]} {...props}>
	<slot />
</a>
