---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav class="pt-12 pb-24 flex gap-16">
		<HeaderLink
			class="relative"
			activeClass="after:absolute after:bg-b-willow after:h-11 after:w-11 after:rounded-full after:left-0 after:top-0 after:-translate-x-4 after:-translate-y-[0.875rem] after:-z-10"
			href="/"
		>
			Home
		</HeaderLink>
		<HeaderLink
			class="relative"
			activeClass="after:absolute after:bg-b-willow after:h-11 after:w-11 after:rounded-full after:left-0 after:top-0 after:-translate-x-4 after:-translate-y-[0.875rem] after:-z-10"
			href="/blog"
		>
			Blog
		</HeaderLink>
		<HeaderLink
			class="relative"
			activeClass="after:absolute after:bg-b-willow after:h-11 after:w-11 after:rounded-full after:left-0 after:top-0 after:-translate-x-4 after:-translate-y-[0.875rem] after:-z-10"
			href="/projects"
		>
			Projects
		</HeaderLink>
		<HeaderLink
			class="relative"
			activeClass="after:absolute after:bg-b-willow after:h-11 after:w-11 after:rounded-full after:left-0 after:top-0 after:-translate-x-4 after:-translate-y-[0.875rem] after:-z-10"
			href="/about"
		>
			About
		</HeaderLink>
	</nav>
</header>
